body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin: 0;
}

header {
  background-color: #202020;
  color: #fbfbfb;
  margin-bottom: 4rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

header .container {
  margin-bottom: 0;
}

h1 {
  position: relative;
}

h1,
h2,
p {
  font-size: 1rem;
  line-height: 1.6rem;
}

h1::before {
  background-color: #000000;
  content: "";
  display: block;
  height: 0.125rem;
  left: 0;
  position: absolute;
  width: 3rem;
  top: calc(100% + 0.125rem);
}

.container {
  max-width: 72rem;
  margin: 0 auto 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

hr {
  border: 0;
  border-bottom: 1px solid #dcdcdc;
}

.justify-content-space-between {
  display: flex;
  justify-content: space-between;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: 700;
}

.content-block {
  display: flex;
  flex-direction: column;
}

.content-block__heading {
  position: relative;
}

.time-line {
  font-weight: 400;
  position: absolute;
  left: 100%;
  top: 1rem;
  transform: rotate(90deg);
  transform-origin: top left;
  white-space: nowrap;
}

h1 ~ .time-line {
  top: 3rem;
}

.content-block__text {
  padding-left: 0;
  padding-right: 5rem;
}

.content-block__text p {
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .container {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .content-block__text {
    padding-left: 15rem;
    padding-right: 8rem;
  }
}
